<mat-toolbar color="primary" *ngIf="usuarioLogado">
  <mat-toolbar-row>
    <span>CORE - Gestão de Clientes</span>
    <span class="header-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="header-icon mr-4">person</mat-icon>{{ usuarioLogado.nome | uppercase}}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/empresas">Empresas</button>
      <button mat-menu-item routerLink="/produtos">Produtos</button>
      <button mat-menu-item routerLink="/acompanhamentos">Acompanhamentos</button>
      <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
