<div class="container mt-4">
  <mat-card>
    <form [formGroup]="form" (submit)="salvar()">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <mat-form-field class="form-input">
            <mat-label>Nome</mat-label>
            <input
              autofocus
              matInput
              type="text"
              formControlName="nome"
              maxlength="50"
            />
            <mat-hint
              *ngIf="
                !form.controls.nome.pristine && form.controls.nome.required
              "
              >Campo obrigatório</mat-hint
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <mat-form-field class="form-input">
            <mat-label>CNPJ</mat-label>
            <input
              autofocus
              matInput
              type="text"
              formControlName="cnpj"
              maxlength="50"
            />
            <mat-hint
              *ngIf="
                !form.controls.cnpj.pristine && form.controls.cnpj.required
              "
              >Campo obrigatório</mat-hint
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <mat-form-field class="form-input">
            <mat-label>Endereço</mat-label>
            <input
              autofocus
              matInput
              type="text"
              formControlName="endereco"
              maxlength="50"
            />
            <mat-hint
              *ngIf="
                !form.controls.endereco.pristine && form.controls.endereco.required
              "
              >Campo obrigatório</mat-hint
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <mat-form-field class="form-input">
            <mat-label>Bairro</mat-label>
            <input
              autofocus
              matInput
              type="text"
              formControlName="bairro"
              maxlength="50"
            />
            <mat-hint
              *ngIf="
                !form.controls.bairro.pristine && form.controls.bairro.required
              "
              >Campo obrigatório</mat-hint
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <mat-form-field class="form-input">
            <mat-label>Contato</mat-label>
            <input matInput type="text" formControlName="contato" />
            <mat-hint
              *ngIf="
                !form.controls.contato.pristine && form.controls.contato.required
              "
              >Campo obrigatório</mat-hint
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <mat-form-field class="form-input">
            <mat-label>Telefone</mat-label>
            <input matInput type="text" formControlName="telefone" />
            <mat-hint
              *ngIf="
                !form.controls.telefone.pristine && form.controls.telefone.required
              "
              >Campo obrigatório</mat-hint
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <mat-form-field class="form-input">
            <mat-label>Indicação</mat-label>
            <select matNativeControl required class="form-control" id="indicacao" formControlName="indicacao">
              <option *ngFor="let indicacao of indicacoes" [value]="indicacao.id">{{ indicacao.nome }}</option>
            </select>
            <mat-hint
              *ngIf="
                !form.controls.indicacao.pristine && form.controls.indicacao.required
              "
              >Campo obrigatório</mat-hint
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <mat-form-field class="form-input">
            <mat-label>Data Cadastro</mat-label>
            <input matInput type="text" formControlName="dataCadastro" />
            <mat-hint
              *ngIf="
                !form.controls.dataCadastro.pristine && form.controls.dataCadastro.required
              "
              >Campo obrigatório</mat-hint
            >
          </mat-form-field>
        </div>
      </div>
      <div class="text-right">
        <button
          mat-raised-button
          type="submit"
          [disabled]="form.invalid"
          color="primary"
        >
          Salvar
        </button>
        <button mat-raised-button routerLink="/empresas" class="ml-4">
          Voltar
        </button>
      </div>
    </form>
  </mat-card>
</div>
